[Unit]
Description=WALLE
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=no
RestartSec=1
User=zviad
Environment="GODEBUG=gctrace=1"
ExecStart=/bin/bash -ce "exec /home/zviad/walle -walle.storage_dir=/mnt/disks/w0/walle -walle.port=5005 \
	-walle.cluster_uri=/cluster/bench \
	-stats.instance_name=walle5005 \
	-debug.addr=127.0.0.1:6005 \
	-walle.target_mem_mb=2000 -walle.max_local_streams=1000 &>> /mnt/disks/w0/walle.log"

[Install]
WantedBy=multi-user.target
