[submodule "wt"]
	path = wt
	url = git@github.com:zviadm/wt.git
[submodule "tt"]
	path = tt
	url = git@github.com:zviadm/tt.git
[submodule "stats-go"]
	path = stats-go
	url = github.com:zviadm/stats-go.git
